<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}">
    <script src="{{ url_for('static', filename='js/main-script.js') }}"></script>
    <title>Drinks API</title>
</head>

<body>
    <h1>AJAX Drink API</h1> 

    <div id="main-container">
        <div>
            <img id="drink-container" src="" alt="">
        </div>
        
        <div id="info-container">
            <!-- a button -->
            <button type="button" id="newDrinkButton"> New Drink </button>

            <p>Drink Name: <span id="drinkName"></span></p>
            <p>Alcoholic: <span id="alcoholic"></span></p>
            <p>Drink Category: <span id="drinkCategory"></span></p>
            <!-- ingredients span containing a list will be populated in js -->
            <p>List of Ingredients: <ul id="ingredients"></ul></p>
            <p>Instructions: <span id="instructions"></span></p>
            
        </div>  
    </div>
</body> 

</html>